src/contrastive_net/wandb/
src/unet/wandb/
notebooks/tsne_interactive_plot.html

data/TODO
data/models/unet
data/sky_finder/archives/
data/sky_finder/extracted/
data/sky_finder/images/
data/sky_cover/

generated/embeddings.json

*.pyc