src/contrastive_net/wandb/
src/unet/wandb/
generated/tsne_interactive_plot.html

data/TODO
data/models/contrastive_net
data/models/unet
data/sky_finder/train/
data/sky_finder/test/
data/sky_finder/val/
data/sky_finder/archives/
data/sky_finder/extracted/
data/sky_finder/images/
data/sky_finder_cover/
data/sky_finder_active

generated/embeddings.json

*.pyc